<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>DN42 Atlas</title>
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />



  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.4/cosmo/bootstrap.min.css" />
  <link rel="stylesheet" href="/static/bootstrap-select/css/bootstrap-select.min.css" />
  <link rel="stylesheet" href="/static/chardinjs/chardinjs.css" />
  <link rel="stylesheet" href="/static/leaflet/leaflet.css" />
  <link rel="stylesheet" href="/static/atlas.css">

  
  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="shortcut icon" type="image/png" href="/static/favicon/favicon.png"/>
  <link href="/static/favicon/appicon.png" rel="apple-touch-icon" sizes="192x192" />
  <link href="/static/favicon/appicon.png" rel="icon" sizes="192x192" />

</head>
<body>

<!-- Bootstrap navigation bar -->
<nav class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">DN42 Atlas</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a data-toggle="modal" data-target="#modal-registration" href="#" data-intro="Become a part of this project" data-position="bottom">Participate</a></li>
                <li><a data-toggle="modal" data-target="#modal-clients" href="#">Clients</a></li>
                <li><a data-toggle="modal" data-target="#modal-about" href="#">About</a></li>
            </ul>
            <form class="navbar-form navbar-left" role="search" data-intro="Quick search a specific probe" data-position="bottom">
                <div class="form-group">
                    <select class="selectpicker" id="probeselector" data-live-search="true" title="Find probe">
                        <option value="" style="display:none;"></option>
                        {% for probe in probes %}
                        <option value="{{probe.public_id}}" data-subtext="{{probe.owner}}">{{probe.name}}</option>
                        {% endfor %}
                    </select> 
                
                </div>
            </form>

<!--            <form class="navbar-form form-inline navbar-right"> -->
                <div class="btn-group navbar-form navbar-right" data-intro="Quickly show a part of the map" data-position="left">
                    <button id="btn-eu" class="btn btn-default">EU</button>
                    <button id="btn-us" class="btn btn-default">US</button>
                    <button id="btn-world" class="btn btn-default">World</button>
                    <button id="btn-help" class="btn btn-default"><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></button>
                </div>
<!--            </form> -->

        </div>
    </div>
</nav>

<!-- Map placeholder -->
<div id="map"></div>

<!-- Pin selection -->
<div id="pinselectionpanel" class="panel panel-default hidden">
    <div class="panel-heading">Pin position</div>
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-4"><strong>Position</strong></div>
            <div class="col-xs-8 position">0 / 0</div>
        </div>
        <button type="button" class="btn btn-info btn-sm" id="useposition">Use this position</button>
    </div>
</div>


<!-- Probe information placeholder -->
<div id="probeinfo" class="panel panel-default hidden-xs" data-intro="Probe information, clicking on links will show whois information" data-position="top">
    <div class="panel-heading">
            <div class="row">
                <div class="col-xs-5">Probe statistics</div>
                <div class="col-xs-7 text-right" data-intro="Show probe information and services (not implemented)" data-position="right">
                    <a href="#" class="btn btn-primary btn-xs disabled">Info</a>
                    <a href="#" class="btn btn-primary btn-xs disabled">Services</a>
                </div>
            </div>
    </div>
    <div class="panel-body">
        <p>Select probe to show probe information</p>
    </div>
</div>

<script id="probeInfoTemplate" type="text/x-jQuery-tmpl">
    <div class="container-fluid .small">
        <div class="row">
            <div class="col-xs-4"><strong>Name</strong></div>
            <div class="col-xs-8">${name}</div>
        </div>
        <div class="row">
            <div class="col-xs-4"><strong>Owner</strong></div>
            <div class="col-xs-8"><a href="javascript:ATLASWEB.fn.whois('${owner}')">${owner}</a></div>
        </div>
        <div class="row">
            <div class="col-xs-4"><strong>Addresses</strong></div>
            <div class="col-xs-8"><a href="javascript:ATLASWEB.fn.whois('${ipv4_address}')">${ipv4_address}</a> / <a href="javascript:ATLASWEB.fn.whois('${ipv4_address}')">${ipv6_address}</a></div>
        </div>
        <div class="row">
            <div class="col-xs-4"><strong>Location</strong></div>
            <div class="col-xs-8">Lat: ${location[0]} / Lon: ${location[1]}</div>
        </div>
        <div class="row">
            <div class="col-xs-4"><strong>Last update</strong></div>
            <div class="col-xs-8">${lastupdate}</div>
        </div>
    </div>
</script>

<!-- Probe render toggle 
     Select between rending as source or as destination -->
<div id="probedirection" data-intro="Change probe latency direction" data-position="left">
    <div class="btn-group btn-toggle"> 
        <button class="btn btn-xs btn-primary active" value="src">SRC</button>
        <button class="btn btn-xs btn-default" value="dst">DST</button>
    </div>
</div>

<!-- About modal
_____________________________ -->
<div class="modal fade" id="modal-about" tabindex="-1" role="dialog" aria-labelledby="modal-about" aria-hidden="true">>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">About</h4>
      </div>
      <div class="modal-body">
        <p>DN42 atlas is a collaborative effort to get insights in the network health status, distributed probes send out
           ICMP ping requests in order to check reachability.</p>
        <p>The Atlas has no obvious copyright but authors and components build by people:
            <ul>
                <li>DN42 Atlas: Rick "blokje" Voormolen</li>
                <li>Bootstrap : Twitter</li>
                <li>Bootstrap theme cosmo : <a href="http://bootswatch.com/darkly/">bootswatch.com</a></li>
                <li>Maps : <a href="http://www.openstreetmap.org/copyright">Openstreetmap</a> contributors</li>
                <li>Maps : <a href="http://leafletjs.com/">LeafletJS</a></li>
                <li><a href="http://jquery.com/">jQuery</a></li>
                <li>Bootstrap Select : <a href="https://github.com/silviomoreto/bootstrap-select">Silvio Moreto</a> [MIT]</li>
                <li>ChardinJS : <a href="http://heelhook.github.io/chardin.js/">Pablo Fernandez</a> [Apache License v2.0]</li>
            </ul>
            If you discover that a contribution by a third party has been missed, please be free to let us know.</p>
        <p>Source code is available at <a href="https://bitbucket.org/rvoormolen/dn42atlas/src/HEAD" target="_blank">Bitbucket</a></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Client modal
_____________________________ -->
<div class="modal fade" id="modal-clients" tabindex="-1" role="dialog" aria-labelledby="modal-clients" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Clients</h4>
      </div>
      <div class="modal-body">
        <p>At this moment there is no stable client available, we try to release it as soon as possible. For now we advice you to run
           our intermediate development client.
        </p>
        <a href="https://bitbucket.org/rvoormolen/dn42atlas/raw/HEAD/atlas/atlasd.py" target="_blank" class="btn btn-primary btn-lg">Download</a>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Registration modal
_____________________________ -->
<div class="modal fade" id="modal-registration" tabindex="-1" role="dialog" aria-labelledby="modal-registration" aria-hidden="true">>
  <div class="modal-dialog">
    <div class="modal-content">
      <form action="{% url 'atlasweb:register' %}" method="post" class="form-horizontal" id="registrationform">
      {% csrf_token %}
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Participate</h4>
      </div>
      <div class="modal-body">
            <h3>Participate</h3>
        <p>This tool relies on a pool of probes, all distributed over dn42. If you are willing to participate fill
           out this form. After registration a manual moderation will take place to enable your probe.
        </p>
        <h3>Register</h3>
            <div class="form-group">
                <label for="register_name" class="col-sm-3 control-label">Probe name</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" name="name" placeholder="Probe name" required="required">
                </div>
            </div>
            <div class="form-group">
                <label for="register_owner" class="col-sm-3 control-label">DN42 Handle</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" name="owner" placeholder="DN42-DUMMY">
                </div>
            </div>
            <div class="form-group">
                <label for="register_ipv4" class="col-sm-3 control-label">IPv4 address</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" name="ipv4_address" placeholder="0.0.0.0">
                </div>
            </div>
            <div class="form-group">
                <label for="register_ipv6" class="col-sm-3 control-label">IPv6 address</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" name="ipv6_address" placeholder="fd02:f00:251::1">
                </div>
            </div>
            <div class="form-group">
                <label for="register_location_lat" class="col-sm-3 control-label">Location</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" name="location_lat" placeholder="Latitude">
                </div>
                <div class="col-sm-3">
                    <input type="text" class="form-control" name="location_lon" placeholder="Longitude">
                </div>
                <div class="col-sm-2"><button class="btn btn-info" type="button" id="pinlocation">Pin</button></div>
            </div>
      </div>
      <div class="modal-footer">
        <div class="col-sm-9">
            <div class="alert alert-danger hidden" role="alert" id="registrationerror"></div>
        </div>
        <div class="col-sm-3">
            <button type="button" class="btn btn-default" id="btn-register">Register</button>
        </div>
      </div>
    </div><!-- /.modal-content -->
    </form>
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Model registered
_____________________________ -->
<div class="modal fade" id="modal-reg-ok" tabindex="-1" role="dialog" aria-labelledby="modal-reg-ok" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Registration completed</h4>
      </div>
      <div class="modal-body">
           <p>You probe has been registered and is awaiting activation. While waiting activation you can configure your node with the following UUID: <strong class='reguuid'></strong>.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Modal: Latency information
_____________________________ -->
<div class="modal fade" id="latency-info" tabindex="5" role="dialog" aria-labelledby="modal-registration" aria-hidden="false" data-source="none" data-destination="none">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <form class="form-inline"><div class="form-group">
            <h4 class="modal-title">Latency information between 
                                    <select id="latency_from" class="selectpicker" data-live-search="true" data-style="btn-primary">{% for probe in probes %}<option data-subtext="{{probe.owner}}" value="{{probe.public_id}}">{{probe.name}}</option>{% endfor %}</select>
                                    and <select id="latency_to" class="selectpicker" data-live-search="true" data-style="btn-primary">{% for probe in probes %}<option data-subtext="{{probe.owner}}" value="{{probe.public_id}}">{{probe.name}}</option>{% endfor %}</select></h4>
        </div></form>
      </div>
      <div class="modal-body">
        <div role="tabpanel">
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" data-graph='latency' class="active"><a href="#latency_latency" data-toggle="tab">Latency</a></li>
                <li role="presentation" data-graph='probe'><a href="#latency_probe" data-toggle="tab">Probe</a></li>
                <li role="presentation"><a href="#latency_trace" data-toggle="tab">Traceroute</a></li>
                <li role="presentation"><a href="#latency_info" data-toggle="tab">Infomation</a></li>
            </ul>

            <!-- Tabs -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="latency_latency">
                    <div class="container-fluid">
                        <div class="row">
                                <h4>Latency</h4>
                        </div> <!-- End of head row -->
                        <div class="row">
                            <div class="col-md-12" style="width: 850px; height: 555px; background-color: #f0f0f0; display:block;" id="latency-graph"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-12" id="latency-graph-legend"></div>
                        </div>
                    </div> <!-- end of container -->
                </div> <!-- End of Latency info -->

                <div role="tabpanel" class="tab-pane" id="latency_probe">
                  <div class="container-fluid">
                    <div class="row">
                        <h4>Source probe availability</h4>
                     </div>
                     <div class="row">
                        <div class="col-md-12" style="width: 850px; height: 555px; background-color: #f0f0f0; display:block;" id="probe-availability-graph"></div>
                     </div>
                     <div class="row">
                        <div class="col-md-12" id="probe-availability-graph-legend"></div>
                     </div>

                  </div>
                </div>

                <div role="tabpanel" class="tab-pane" id="latency_trace">
                    <h4>Traceroute information</h4>
                    <div class="container-fluid"> 
                        <div class="row">
                            <div class="col-md-6"><h5>Left</h5>
                            <!-- traceroute 172.22.0.53 -n  -q1 -->
                            <pre></pre>
                            <p>Last update: someday at sometime</p>
                            </div>
                            <div class="col-md-6"><h5>Right</h5>
                            <!-- traceroute 172.22.0.53 -n  -q1 -->
                            <pre>pre</pre>
                            <p>Last update: someday at sometime</p>
                            </div>
                        </div> 
                    </div>
                </div> <!-- End of traceroute -->

                <div role="tabpanel" class="tab-pane" id="latency_info">
                    <h4>Information</h4>
                </div> <!-- End of info -->

            </div>
        </div>

      </div>
      <div class="modal-footer">
         <form class="form-inline">
            <div class="form-group">
               <label for="latency-graph-period">Period</label>
               <select class="form-control" id="latency-graph-period">
                  <option value="2h">2 hours</option>
                  <option value="1d">1 day</option>
                  <option value="1w">1 week</option>
                  <option value="1m">1 month</option>
                  <option value="1q">1 quarter</option>
                  <option value="1y">1 year</option>
               </select>
               <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
         </form>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div id="latency-graph-tooltip" class="alert"></div>


<!-- Model Whois
_____________________________ -->
<div class="modal fade" id="modal-whois" tabindex="-1" role="dialog" aria-labelledby="modal-whois" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Whois</h4>
      </div>
      <div class="modal-body">
           <pre id="whois-info"></pre>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


  <!-- Scripts
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <!-- MAPS -->
  <script src="/static/leaflet/leaflet.js"></script>

  <!-- jQuery -->
  <script src="/static/jquery/jquery-2.1.3.min.js"></script>
  <script src="/static/jquery/jquery.tmpl.min.js"></script>

  <!-- Graphs -->
  <script src="/static/flot/jquery.flot.min.js"></script>
  <script src="/static/flot/jquery.flot.time.min.js"></script>

  <!-- Bootstrap -->
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <script src="/static/bootstrap-select/js/bootstrap-select.min.js"></script>

  <!-- ChardinJS -->
  <script src="/static/chardinjs/chardinjs.min.js"></script>

  <!-- Atlas -->
  <script src="/static/atlas.js"></script>

</body>
</html>

