html, body {
    height: 100%;
}

#map {
    position: absolute;
    left: 0; top: 50px;
    right:0; bottom: 0;
}

.navbar .nav > li {
    z-index: 10000;
}

#probeinfo {
    z-index: 4;
    position: absolute;
    bottom: 10px;
    left: 20px;
    height: 160px;
    width: 350px;
}

#probeinfo > .panel-body {
    font-size: 0.8em;
}

#probeinfo > .panelbody > .row:first-child {
    color: red;
}

.probe-direction-control {
    background-color: red;
    width: 50px;
    height: 50px;
}

#pinselectionpanel {
    z-index: 4;
    position: absolute;
    top: 60px;
    left: 20px;
    height: 150px;
    width: 350px;
}

#registrationerror {
    text-align: left;
}

#latency-graph-tooltip {
    position: fixed;
    display: none;
/*    border: 1px solid #fdd;
    padding: 2px;
    background-color: #fee;*/
    opacity: 0.80;
    z-index: 1500;
}

#whois-info {
    max-height: 700px;
}
